html, body, form {
    height: 100%;
}
body {
    background-color: #000;
    border-color: #CCC;
    color: #CCC;
    padding: 0;
    margin: 0;
    font-family: VGA, Courier, "Droid Sans Mono", "Courier New", monospace;
    font-size: 120%;
}
a {
    color: inherit;
    text-decoration: none;
    font-size: 120%;
}
textarea {
    border: 0px;
    color: inherit;
    background-color: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    resize: vertical;
    font-size: 110%;
}

#top {
    color: inherit;
    border-bottom: 2px solid #FFF;
    border-color: inherit;
    background-color: inherit;
    padding-bottom: 3px;
}
#dosubs {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 120%;
}
